<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title slot="start">CoinVerse</ion-title>
    
    <ion-buttons slot="end">
      <div class="pill-selector">
        <ion-select 
          [value]="moedaBase" 
          interface="popover" 
          (ionChange)="alterarMoedaBase($event)" 
          toggleIcon="chevron-down-outline">
          <ion-select-option *ngFor="let m of moedasPrincipais" [value]="m.codigo">
            {{ m.codigo }} - {{ m.nome }}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    
    <div class="header-info">
      <h1>Conversões</h1>
      <p>Base atual: <strong>1 {{ moedaBase }} - {{ obterPaisEMoeda(moedaBase).moeda }} ({{ obterPaisEMoeda(moedaBase).pais }})</strong></p>
    </div>

    <ion-searchbar 
      [(ngModel)]="textoPesquisa" 
      placeholder="Pesquise por moeda, país ou sigla..." 
      animated="true"
      class="custom-searchbar">
    </ion-searchbar>

    @for (moeda of taxasConversao | keyvalue; track moeda.key) {
      
      @if (filtrarMoedas(moeda)) {
        
        <ion-card 
          class="custom-card"
          [routerLink]="['/details', moeda.key]"
          button="true"
          appHighlight>
          
          <ion-card-content class="card-grid">
            
            <div class="info-lado">
              <span class="label-base">1 {{ moedaBase }} =</span>
              <div class="nome-grupo">
                <span class="moeda-nome">{{ obterPaisEMoeda(moeda.key).moeda }}</span>
                <span class="pais-nome">{{ obterPaisEMoeda(moeda.key).pais | truncate:15 }}</span>
              </div>
            </div>

            <div class="valor-lado">
              <span class="valor-texto">{{ moeda.value | number:'1.2-4' }}</span>
              <span class="sigla-texto">{{ moeda.key }}</span>
            </div>

          </ion-card-content>
        </ion-card>

      }
    }

  </div>
</ion-content>